@import "tailwindcss";


    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      scroll-behavior: smooth;
      background-image: url('./assets/background.png');
      background-repeat: no-repeat;
      
    }